<a href="https://colab.research.google.com/github/emonnn13/Pattern_Lab/blob/main/Pattern_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reading Data.

Reads the csv file using Pandas Library.

In [21]:
import pandas as pd

data = pd.read_csv("diabetes.csv")

In [22]:
data

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

#Split the dataset

using sklearn library. extract the label

In [23]:
from sklearn.model_selection import train_test_split

#splits the label
data_x = data.loc[:, data.columns != "Outcome"]

#Stores the label of the data
data_y = data["Outcome"]

In [24]:
train_x, test_x , train_y, test_y = train_test_split(data_x, data_y, test_size=0.2)

#Scale Dataset

In [27]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

#setting up the class
ms = MinMaxScaler()
ss = StandardScaler()

ms.fit(train_x)
ms_train_x = ms.transform(train_x)

print(ms_train_x)

ss.fit(train_x)
ss_train_x = ss.transform(train_x)

print(ss_train_x)

[[0.47058824 0.9040404  0.59016393 ... 0.48733234 0.29004525 0.25      ]
 [0.35294118 0.62121212 0.59016393 ... 0.50074516 0.29638009 0.21666667]
 [0.         0.39393939 0.72131148 ... 0.54992548 0.16108597 0.        ]
 ...
 [0.17647059 0.61111111 0.42622951 ... 0.53651267 0.02217195 0.06666667]
 [0.05882353 0.63636364 0.45901639 ... 0.42771982 0.32714932 0.        ]
 [0.05882353 0.91414141 0.52459016 ... 0.50819672 0.11312217 0.28333333]]
[[ 1.20285748  1.81136973  0.13747411 ...  0.09570546  0.81061227
   0.21999432]
 [ 0.61366363  0.06686979  0.13747411 ...  0.20784888  0.85472624
   0.05125414]
 [-1.15391793 -1.33496052  0.96857914 ...  0.61904142 -0.08742224
  -1.04555702]
 ...
 [-0.27012715  0.00456622 -0.90140718 ...  0.506898   -1.05477871
  -0.70807666]
 [-0.859321    0.16032515 -0.69363092 ... -0.40270974  1.06899412
  -1.04555702]
 [-0.859321    1.8736733  -0.2780784  ...  0.27015078 -0.42142806
   0.3887345 ]]

In [28]:
from sklearn.svm import SVC

svc_ms = SVC()
svc_ss = SVC()

svc_ms.fit(ms_train_x, train_y)
svc_ss.fit(ss_train_x, train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

#Test

trainig is complete. now we will compare the two training model(SS & MS)

In [29]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

predict_y = svc_ms.predict(test_x)
ms_predict_y = svc_ms.predict(ms_test_x)

ss_predict_y = svc_ss.predict(ss_test_x)
##########
ms_acc = accuracy_score(test_y , ms_predict_y)

NameError: ignored